@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply py-3 px-6  justify-center items-center font-bold text-base text-center lg:w-36 xl:w-44 h-12 rounded;
    }

    .orange {
        @apply bg-[#F67A24] border hover:bg-[#F9A66D] text-[#fff];
    }

    .border-orange {
        @apply text-[#F67A24] border border-[#F67A24] hover:border-[#F9A66D];
    }

    .createbutton{
        @apply py-3 px-6 justify-center items-center  text-base text-center lg:w-44 h-12 rounded-lg;
    }
}

/* Home */
.home-list {
    counter-reset: awesome;
}

.home-list-item {
 counter-increment: awesome;
 position: relative;
 border-left: 1px dashed #222222;
 padding: 0 0 0 40px;
}

.home-list-item::before {
  content: counter(awesome);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: -32px;
  background: #F67A24;
  text-align: center;
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
}

.print {
    background:url(./assets/images/home-img/print-section-bg.png)no-repeat center;
    background-size: cover;
}

.template .header-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

.template .how-it-work {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #f89049;
  margin-bottom: 6px;
}

.template .p-recipe {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #1e1e1e;
}

.template .number-section {
  height: 70px;
  background: #f67a24;
  box-shadow: 0px 15.4205px 38.5512px rgba(217, 217, 217, 0.9);
  font-family: 'Inter';
  font-size: 26px;
  line-height: 150%;
}
.text-change {
  color: #1e1e1e;
}
.template .number-section::before {
  border: 1px dashed #f67a24;
  content: '';
  position: absolute;
  width: 227px;
  left: 9rem;
}
.template .text-three::before {
  display: none;
}
.mt-50 {
  margin-top: 50.5px;
}
.template .step {
  margin-top: 30px;
  margin-bottom: 6px;
}
.template .step-all {
  padding-left: 72px;
  padding-right: 72px;
}
.template .sizing {
  width: 502px;
  height: 607px;
}

.template .img-section {
  background: #ffeded;
  border-radius: 8px;
}
.template .template-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20.0684px;
  line-height: 28px;
  color: #a45118;
}

.template .btn-save,
.template .btn-use:hover {
  padding: 12px 24px;
  gap: 10px;

  width: 127px;
  height: 40px;
  background: #fbfcfe;
  border: 1px solid #f67a24;
  border-radius: 4px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #f67a24;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.template .btn-use,
.template .btn-save:hover {
  padding: 12px 24px;
  gap: 10px;
  width: 127px;
  height: 40px;
  background: #f67a24;
  border-radius: 4px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  text-align: center;

  /* white */

  color: #fbfcfe;
}
.mt-75 {
  margin-top: 75px;
}
.template .bg-yellow {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 20px;
background: #F08200;
border: 1px solid #FFFFFF;
border-radius: 4px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1px;

color: #FFFFFF;
}
.template .light-yellow{
  display: flex;
padding: 14px;
left: 705px;
top: 609px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
align-items: center;
text-align: center;
letter-spacing: 0.1px;
color: #F67A24;
background: #FFF5EE;
border-radius: 8px;
}

@media  screen and (min-width:600px) {
  .home-list-item{
   border: 0;
  }
  .home-list-item::before{
   left: 50%;
   transform:translateX(-50%)
  }
}

@media (max-width: 768px) {
  .template .header-title,
  .template .how-it-work {
      font-size: 20px !important;
  }
  .template .step-all {
      padding-left: 8px;
      padding-right: 8px;
  }
  .f-4 {
      font-size: 4px;
  }
  .template .step {
      font-size: 8px;
  }
  .p-recipe {
      font-size: 12px;
  }
  .template .number-section {
      width: 28px;
      height: 25px;
      padding: 5px 9px;
  }
  .template .number-section::before {
      display: none;
  }
  .template .number-section{
      font-size: 13px !important;
  }
  .template .sizing {
      width: 312px;
height: 377px;
margin-top: 11rem;
  }
  
}
